[Unit]
Description=SupAI Frontend
After=network.target

[Service]
Type=simple
User=supai-root
WorkingDirectory=/opt/supai
Environment=NVM_DIR=/home/supai-root/.nvm
ExecStart=/bin/bash -c 'source /home/supai-root/.nvm/nvm.sh && npx serve dist -l 5000 -s'
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
